mixin loginForm()
  form.form(action="/login" method="POST")
    h2 登录
    label(for="email") 邮箱
    input(type="email" name="email")
    label(for="password") 密码
    input(type="password" name="password")
    input.button(type="submit" value="登录")