input, textarea {
  width: 100%;
  padding: 1rem;
  border: .1rem solid grey;
}

label {
  padding: 1rem 0;
  display: block;
}

.form {
  margin-top: 1rem;
  background: rgb(200, 231, 22);
  padding: 2rem;
  box-shadow: 9px 7px 34px -2px rgba(0,0,0,0.75);
  h2 {
    font-size: 3rem;

  }
}

.card {
  background-color: rgb(245, 235, 204);
  padding: 5rem;
  box-shadow: 0 1px 10px rgba(0,0,0,0.15);
}