.nav {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 2rem;
  background: #B3DFFC;
  box-shadow: 9px 7px 51px -19px rgba(156,150,26,1);

  &__section {
    display: flex;
    &--search {
      flex: 1 1 auto;
    }
  }

  &__item {
    // ??????????????
    display: flex;
  }

  &__link {
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s;
    padding: 1.2rem 2rem;
    svg {
      transition: all 0.2s;
      margin-bottom: 1rem;
      width: 4rem;
      height: 4rem;
    }
    &--logo {
      svg {
        width: 10rem;
      }
    }
    &:hover, &--active {
      svg {
        transform: scale(1.2);
      }
      background: $grad fixed;
    }
  }
}

@media all and (max-width: 650px) {
  .nav {
    flex-direction: column;
    font-size: 1rem;
    &__section {
      justify-content: space-between;
    }
    &__link {
      padding: 0.5rem 1rem;
      &--logo {
        svg {
          width: 5rem;
        }
      }
    }
    svg {
      width: 2rem;
      height: 2rem;
    }
  }
}

@media all and (max-width: 980px) {
  .nav {
    flex-wrap: wrap;
    &__section {
      flex: 50%;
      justify-content: space-around;
    }
  }
}