.review {
  background: white;
  border: 1px solid rgb(28, 211, 235);
  border-bottom: 0;
  border-bottom: 1px solid rgb(28, 211, 235);
  margin-bottom: 2rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  position: relative;
  padding: .5rem;
  // &:before {
  //   width: .5rem;
  //   left: 0;
  //   content: '';
  //   display: block;
  //   position: absolute;
  //   background: red;
  //   height: 100%;
  //   background-attachment: fixed;
  // }
  &__header {
    border-bottom: 1px solid grey;
    display: flex;
    & > * {
      border-right: 1px solid grey;
      padding: 0.2rem;
      display: flex;
      align-items: center;
      flex: 1;
      justify-content: center;
      &:last-child {
        border-right: 0;
      }
    }
  }
  &__author {
    justify-content: flex-start;
    padding-left: 2rem;
    display: flex;
    .avatar {
      margin-right: 2rem;
    }
  }
  &__time {
    font-size: 1.2rem;
    color: lighten(black, 60%);
  }
  &__stars {
    color: rgb(235, 235, 26);
  }
  &__body {
    padding: 2rem;
  }
  p {
    white-space: pre-wrap;
  }
}